# ISHRA HUSSAIN (PIAIC74543)

# ASSIGNMENT 3

Note: MCQ's answers are highlighted in pdf file

In [1]:
# Question 1 
# d = {item, item, item, ...} where item = key:value

In [1]:
# Question 2 is false as:
d1 = {
    "id": 1,
    "name": "ishra",
}
d2 = {
    "course": "AI"
}

d3 = d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [4]:
# Question 4 is none because:
d1[]

SyntaxError: invalid syntax (<ipython-input-4-ad41b8aad1df>, line 1)

In [6]:
# Question 5
d1.pop("id")
# remove specified key and return the corresponding value

1

In [7]:
d1

{'name': 'ishra'}

In [8]:
# Question 6
d1.popitem() 
# remove last value and return some (key, value) pair as a 2-tuple

('name', 'ishra')

In [9]:
d1 = {
    "id": 1,
    "name": "ishra",
    "course": "AI"
}

In [10]:
d1.popitem()

('course', 'AI')

In [11]:
d1.popitem()

('name', 'ishra')

In [3]:
# Question 9
d1 = {
    "id": 1,
    "name": "ishra",
    "course": "AI",
    "dob": 123,
}

if "dob" in d1.keys():
    print("Key exists")
else:
    print("Key does not exist")
    
if 123 in d1.values():
    print("Value exists")
else:
    print("Value does not exist")
    
for k, v in d1.items():
    if k == "dob" and v == 123:
        print("Both key and value exists")

Key exists
Value exists
Both key and value exists

In [45]:
# Question 10
s = 'i am student at piaic and i am learning ai and python and python is the easy programming language'
s = s.split()
d1 = {}
for i in range(0,len(s)):
    if s[i] not in d1.keys():
        d1[s[i]] = 1
    else:
        d1[s[i]] = d1[s[i]] + 1
print(d1)

for k in d1.keys():
    v = d1[k]
    if v % 2 == 0:
        print(str(k) + ': has even frequency')

{'i': 2, 'am': 2, 'student': 1, 'at': 1, 'piaic': 1, 'and': 3, 'learning': 1, 'ai': 1, 'python': 2, 'is': 1, 'the': 1, 'easy': 1, 'programming': 1, 'language': 1}
i: has even frequency
am: has even frequency
python: has even frequency

In [30]:
# Question 11
# All were done on rough copy, only 3rd was incorrect i thought it will give out of range error
X = ["Feb", "Apr", "Mar", "May", "Jun", "Jul", "Aug", "Jan"]
print(X[0:3])
print(X[2:8])
print(X[4:9])
print(X[1:7:2])
print(X[-1:-7])
print(X[-7:7])
print(X[-1:-8:-2])
##print(X[:4])

['Feb', 'Apr', 'Mar']
['Mar', 'May', 'Jun', 'Jul', 'Aug', 'Jan']
['Jun', 'Jul', 'Aug', 'Jan']
['Apr', 'May', 'Jul']
[]
['Apr', 'Mar', 'May', 'Jun', 'Jul', 'Aug']
['Jan', 'Jul', 'May', 'Apr']
['Feb', 'Apr', 'Mar', 'May']

In [47]:
# Question 13
p = 3
q = 'hello! '
q*p

'hello! hello! hello! '

In [48]:
# Question 14
y = "this is a random sentence"
print(y.upper())

THIS IS A RANDOM SENTENCE

In [49]:
# Question 15 done on rough first
p = True
q = 'True'
r = 2
r = 2.0
print(type(p))
print(type(q))
print(type(r))
print(type(s))

<class 'bool'>
<class 'str'>
<class 'float'>
<class 'list'>

In [53]:
# Question 18
X = 4
Y = 2
print(X % Y)
print(X / Y)
print(X // Y)
print(Y % X)

0
2.0
2
2

In [55]:
X = 9
Y = 4
print(X % Y)
print(X / Y) # Division(float) of number  
print(X // Y) # Division(floor) of number  
print(Y % X)

1
2.25
2
4

In [59]:
# Question 19a
x = [[4, 1, 1], [5, 9, 0]]
for i in range(0,2):
    for j in range(0,3):
        print(x[i][j])

4
1
1
5
9
0

In [63]:
# Question 19b
x = [[4, 1, 1], [5, 9, 0]]
for i in range(0,3):
    for j in range(0,2):
        print(x[j][i], end='\t')
    print('\n')

4	5

1	9

1	0

In [64]:
# Question 19c
x = [[4, 1, 1], [5, 9, 0]]
for i in range(0,2):
    for j in range(0,3):
        print(x[i][j], end = '\t')

4	1	1	5	9	0

In [65]:
# Question 19d
x = [[4, 1, 1], [5, 9, 0]]
for i in range(0,2):
    for j in range(0,3):
        print(x[i][j], end = '\t')
    print('\n')

4	1	1

5	9	0

In [4]:
# Question 20
q = [10.62, 16.14, 6.45, 17.11]
for j, z in enumerate (q) :
    print( 'Item ' + str( j ) + ' - ', str ( z ))

Item 0 -  10.62
Item 1 -  16.14
Item 2 -  6.45
Item 3 -  17.11

In [8]:
# Question 22
D = dict()
for i in range (3):
    for j in range(2):
        D[i] = j
D

{0: 1, 1: 1, 2: 1}

In [4]:
def increment_score ( score, bonus = True , points = 1 ):
    pass

In [16]:
# Question 24
def avg ( x , y , z = 50 ):
    adding = x + y + z
    avg_value = adding / 3
    return avg_value
y = avg ( x = 5 , y = 9 , z = 20 )
print(y)

11.333333333333334

In [4]:
# Question 25
def avg (*opt_values, name): 
    avg_value = sum (opt_values) / len(opt_values)
    print('Name is: ' + name + ' Marks: ' + str(avg_value))
# It will give error because arguments are passed to function refer to their position
# optional values have * which means they can have any number of arguments 
# while name is a required argument and null will be passed to it so we will get error

# while this way 'avg ('Ali', 5 , 9 , 20, 34, 87, 112 )' 
# Ali will be passed to opt_values so we cant take its sum or len
# as it is a string hence we will get error
# solution is to define positional parameters first followed by optional arguments
avg ('Ali', 5 , 9 , 20, 34, 87, 112 )

TypeError: avg() missing 1 required keyword-only argument: 'name'

In [ ]:
def avg ( name, *opt_values): 
# If you do not know how many arguments that will be passed into your function, 
#add a * before the parameter name in the function definition.
# a small correction was made positional parameters are defined first followed by optional arguments
    avg_value = sum (opt_values) / len(opt_values)
    print('Name is: ' + name + ' Marks: ' + str(avg_value))
    
avg ('Ali', 5 , 9 , 20, 34, 87, 112 )

In [2]:
# Question 26
def display_result(winner, score, **other_info): 
    # If you do not know how many keyword arguments that will be passed into your function, 
    #add two asterix: ** before the parameter name in the function definition
    print("The winner was " + winner)
    print("The score was " + score)
display_result(winner = "Manchester", score="1-0", overtime ="yes", injuries="none")

The winner was Manchester
The score was 1-0

In [7]:
def display_result(winner, score, *other_info):
    print("The winner was " + winner)
    print("The score was " + score)
display_result("Manchester", "1-0", "yes", "none")

The winner was Manchester
The score was 1-0

In [9]:
def display_result(winner, score, other_info):
    print("The winner was " + winner)
    print("The score was " + score)
display_result("Manchester", "1-0", "yes")

The winner was Manchester
The score was 1-0

In [6]:
# Question 27
def display_result(winner, **other_info, score): 
    # error because positional required arguments is defined after keyword argument other_info
    print("The winner was " + winner)
    print("The score was " + score)
display_result(winner="Manchester", overtime ="yes", injuries="none" , score="1-0" )

SyntaxError: invalid syntax (<ipython-input-6-19c06552b934>, line 2)

In [7]:
def display_result(winner, score, **other_info): 
    print("The winner was " + winner)
    print("The score was " + score)
display_result(winner="Manchester", overtime ="yes", injuries="none" , score="1-0" )

The winner was Manchester
The score was 1-0

In [11]:
# Question 28
X = 123
print('%06d'%X) # 6 digits integer

000123

In [20]:
X = 123
print('%06f'%X) # convert to float with 6 digits

123.000000

In [15]:
# Question 29
x=22.19
print("%5.2f"%x) # 2 points after decimal

22.19

In [17]:
x=22.19
print("%5.8f"%x) # 8 points after decimal place

22.19000000

In [19]:
x=22.19
print("%8f"%x) # covert to 8 digits float

22.190000

In [23]:
x= 1.23456
print("%05.2f"%x)

01.23

In [26]:
x = 1.23456
print("%2f"%x)

1.234560

In [21]:
'{0:f}, {1:2f}, {2:05.2f}'.format(1.23456, 1.23456, 1.23456) # i dont understand reason for this output

'1.234560, 1.234560, 01.23'

Python String Formatting:

template.format(p1, p1, .... , k1=v1, k2=v2)

{[argument_index_or_keyword]:[width][.precision][type]}

"Floating point {0:.2f}".format(345.7916732)

Here we specify 2 digits of precision and f is used to represent floating point number.

In [39]:
"Floating point {0:.2f}".format(345.7196732)

'Floating point 345.72'

In [49]:
# Question 31
i = 0
while False: # False will never work
# if we change loop to true then an infnite loop will start as
    '''
    1
    3
    5
    7
    ...
    
    '''
    if i%2 == 0:
        break
    print(i)
    i += 2

In [8]:
# Question 32
x = "abcdef"
i = "a"
while i in x:
    x = x[:-1]
    print(i, end = " ")
x

a a a a a a

''

op is as for every loop, end = " ", means space will be added to next output
x = abcde
a
x = abcd
a a
x = abc
a a a
x = ab
a a a a
x = a
a a a a a
x = ''
a a a a a a

In [45]:
x = "abcdef"
i = "a"
while i in x:
    x = x[:-1]
    print(x, end = " ")

abcde abcd abc ab a

In [9]:
# Question 33
for i in ''.join(reversed(list('abcd'))):
    print(i)

d
c
b
a

reversed(list('abcd')) will give dcba
. join will pick values one by one and join by '' so after 4 iterations we get 
d
c
b
a

In [4]:
for i in '*'.join(reversed(list('abcd'))):
    print(i)

d
*
c
*
b
*
a

In [5]:
for i in ''.join(list('abcd')):
    print(i)

a
b
c
d

In [6]:
for i in ''.join('abcd'):
    print(i)

a
b
c
d

In [7]:
for i in ''.join(reversed('abcd')):
    print(i)

d
c
b
a

In [2]:
# Question 34
for i in range(10):
    if i == 5:
        break
    else:
        print(i)

print("Here")

0
1
2
3
4
Here

range 10 is numbers from 0 to 9
i = 0 is not equal to 5 so print i
i = 1
i = 2
i = 3
i = 4
after i = 5 loop will break without printing it and will get out of for loop and print Here

In [1]:
numList = ['1', '2', '3', '4']
seperator = ', '
print(seperator.join(numList))

1, 2, 3, 4

In [11]:
# Question 35

y = 6
z = lambda x: x * y  
# lambda argument(s): expression
print(z(8))

48

In [12]:
product = lambda x, y : x * y

print(product(2, 3))

6

In [13]:
# Question 36
i=0
def change(i):
    i=i+1
    return i
change(1)
print(i)
# Output is zero because function parameter name 'i' is any aribitraray name not a variable that is saved to memory 
# when function is called it is passed as parameter, 
# any name can be used as it change value of i from memory that is i=0 defined

0

Where was question 37, 38, 39, i think pdf file is missing a page

In [15]:
# Question 40
def change(one, *two):
    print(type(two))
    print(two)
change(1,2,3,4)
# If you do not know how many arguments that will be passed into your function, 
# add a * before the parameter name in the function definition. these arguments are passed as tuple to fucntion
# hence type of two is tuple
# argument 1 is passed to one as positional argument while rest 2, 3, 4 are passed to two as tuple hence we getting
# (2, 3, 4) when printing 2

<class 'tuple'>
(2, 3, 4)

In [18]:
# Question 41
def find(a, **b):
    print(type(b))
find('letters',A='1',B='2')
# If you do not know how many keyword arguments that will be passed into your function, 
# add two asterix: ** before the parameter name in the function definition
# so here in b argument,  A and B are passed  as keyword arguments in form of dictionary hence the output

<class 'dict'>

In [19]:
# Question 42
def foo(i, x=[]):
    x.append(i)
    return x
for i in range(3):
    print(foo(i))

[0]
[0, 1]
[0, 1, 2]

for loop, i is appended with each iteration to list x in fucntion foo
i = 0
x = [0]
i = 1
x = [0, 1]
i = 2
x = [0, 1, 2]

In [21]:
# Question 43
(3*(1+2)**2-(2**2)*3)

15

it is solved by PEMDAS rule
(3*(1+2)**2-(2**2)*3)  solving paranthesis first
(3*3**2-4*3) solving exponent
(3*9-4*3) solving multiplication
(27-12) solving division
(15) open paranthesis
15 result

### Question 44
- fmod: function is one of the Standard math library function in Python, which is used to calculate 
  the Module of the specified given arguments 
  Return a floating point number value after calculating module of given parameters x and y.
- frexp: returns mantissa and exponent as a pair (m, e) of a given value x, where mantissa m is a floating point number and e exponent is an integer value. m is a float and e is an integer such that x == m * 2**e exactly.
- math.floor function is used to return the closest integer value which is less than or equal to the specified expression or Value
- ceil() in Python returns ceiling value of x i.e., the smallest integer not less than x.
- fabs return the absolute value of number as floating point value

In [10]:
import math # to import math library
x = -3.67
x = math.fabs(x)
math.ceil(x) # can also use math.floor

4

In [13]:
import math # to import math library
x = -3.67
x = math.fabs(x)
math.floor(x)

3

In [23]:
# Question 45
import random
random.randint(5, 11) # randint(start, end)

10

In [24]:
random.randrange(5, 12, 1) # random.randrange(start, stop[, step]) where stop is not included

5

In [19]:
# Question 46
marks = int(input('Enter your marks? '))
if marks >= 90:
    print('Grade A')
elif marks > 80:
    print('Grade B')
elif marks > 70:
    print('Grade C')
elif marks > 60:
    print('Grade D')
else:
    print('Grade E')

Enter your marks? 45
Grade E